{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block 'dashboard' %}
    <br>
    <div class="background">
        <p></p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md logo-bar-one">
                <div class="col-md logo-bar-one">
                    <p class="text-card">GYM_</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md logo-bar-two">
                <p class="text-card">_Neutron</p>
            </div> 
        </div>
        <div class="row">
            <div class="col-md logo-bar-three">
                <p class="text-card">🏋️</p>
            </div>
            <div class="col-md logo-bar-three">
                <p class="text-card">🚴</p>
            </div>
            <div class="col-md logo-bar-three">
                <p class="text-card">🏃‍♂️</p>
            </div>
            <div class="col-md logo-bar-three">
                <p class="text-card">🏋🏻‍♀️</p>
            </div>
        </div>
    <div>

{% endblock %}