.logo-bar-one{
    color:rgb(228, 224, 246);
    background-color: var(--contrast-color);
    width: 50%;
    margin-top: 20px;
    margin-right: 600px;
    padding: 8px;
    text-align: left;
}

.logo-bar-two{
    color:rgb(228, 224, 246);
    background-color: var(--main-color);
    width: 50%;
    margin-top: 20px;
    margin-right: 300px;
    padding: 5px;
    text-align: left;
}

.logo-bar-three{
    color:rgb(228, 224, 246);
    background-color: var(--light-color);
    width: 50%;
    margin-top: 20px;
    margin-right: 1px;
    padding: 5px;
    text-align: center;
}

.text-card{
    font-size: 40px;
}

.background{
    margin-top: 160px;
}

.tab {
    tab-size: 10;
}